fastapi
uvicorn[standard]
langchain
langchain-openai
langgraph
langgraph-supervisor
langgraph-checkpoint-postgres
psycopg[binary,pool]
langgraph-cli[inmem]
supabase
python-dotenv
qdrant-client
fastembed
